[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
channels = "*"
"argon2-cffi" = "*"
django-model-utils = "*"
"psycopg2" = "*"
bleach = "*"
mock = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
coverage = "*"
channels-redis = "*"
"flake8" = {editable = true, ref = "9631dac5", git = "https://gitlab.com/pycqa/flake8"}
pylama = "*"
requests = "*"
djangorestframework-xml = "*"
nodeenv = "*"
"boto3" = "*"
"beautifulsoup4" = "*"
safety-db = "*"
pyyaml = "*"
ipython = "*"
django-environ = "*"
pycryptodomex = "*"
twine = "*"

[dev-packages]
django-debug-toolbar = "*"
ipdb = "*"
"flake8" = "*"
nodeenv = "*"

[requires]
python_version = "3.7"
